@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import "normalize.css";
@import "header.css";

.section1-0 {
  border: 2px solid black;
  margin: 1vh;
  width: 190vh;
  height: 58vh;
}

.section1-1 {
  border: 2px dotted black;
  margin: 2vh;
  float: left;
  width: 65vw;
  position: relative;
  font-size: 1.4em;
  margin-top: 5vh;
  background: #26B0F0;
  opacity: 0.9;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.section1-2 {
  float: right;
  width: 56vh;
  position: relative;
  margin-top: 2vh;
}

.section1-0::after {
  content: '';
  display: table;
  clear: both;
}



.section1-3 {
  border: 2px solid black;
  margin: 2vh 1vh 3vh 1vh;
  width: 190vh;

}

.col1-1, .col1-2, .col1-3 {
  width: 53vh;
  float: left;
  padding: 0 1.58%;
  margin: 2vh;
  border: 1px dotted #000;
  position: relative;
}
/*
.col1-2 {
  width: 47vh;
  float: left;
  padding: 0 1.58%;
  margin: 2vh;
  border: 1px solid #000;
  position: relative;
}

/*
.col1-3 {
  width: 47vh;
  float: left;
  padding: 0 1.58%;
  margin: 2vh;
  border: 1px solid #000;
  position: relative;
}
*/
.header2-1 {
  color: white;
  background: #0C374F;
  text-align: center;
  padding: 0 0 1px 0;
  margin: 0vh -3vh 0vh -3vh;
}

.section1-3::after {
  content: '';
  display: table;
  clear: both;
}

.content {
  min-height: calc(100vh - 70px);
}




.footer {
    position:fixed;
    font-size: 16px;

    bottom: 0;
    width: 200vh;
    background:#6cf;
    text-align: center;
}
